# Temp files
.DS_Store
*~
test.ipynb
MINGLE/scripts
# Caches
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# IDEs
/.idea/
/.vscode/
/.env

# uv
/scripts/uv.lock
MINGLE/src/MINGLE/pl/Edges_pl.ipynb
MINGLE/src/MINGLE/pl/GMM_pl.ipynb

*.csv